<h1>New Message</h1>
<% if @message.errors.any? %>
  <p>You done fucked up</p>
  <% @message.errors.full_messages.each{|x| x.to_s}.join %>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to, as: :search, data:
      {autocomplete_source: Address.pluck(:number)}, id: 'to_number' %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
